[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-servokit = "*"
websockets = "*"
playsound = "*"
python-dotenv = "*"
simple-term-menu = "*"

[dev-packages]

[requires]
python_version = "3.9"
